body {
  background-color: #1A1A1A;
  font-family: "Times New Roman", serif;
  color: #FFF;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
}

.logo {
  height: 50px;
}

.nav-top-right a {
  margin-left: 15px;
  text-decoration: none;
  color: #FFF;
}

.main-content {
  text-align: center;
  padding: 50px;
}

.hero-logo {
  width: 200px;
  height: auto;
}

.buttons .btn {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  text-decoration: none;
}

footer {
  padding: 20px;
  background-color: #333;
  text-align: center;
}

.server {
  margin: 10px;
  text-align: center;
  color: white;
}
